$fontFamily_1: "Roboto";
$fontFamily_2: "Roboto Condensed";

.wrapper_share {
  padding: 0 10% 10%;;
  background: url(../img/share/city.png) no-repeat bottom, url(../img/share/action.png) no-repeat top left 10%;
  display: flex;
  justify-content: space-between;
}
.description_of_action {
  padding: 3% 0 5% 20%;
  box-sizing: border-box;
  & h2 {
    font-size: 2.1rem;
    color: #1c1c1c;
    font-family: $fontFamily_2;
  }
  & span {
    color: #fc8153;
  }
  & p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #333333;
    font-family: $fontFamily_1;
  }
  & button {
    font-size: 0.875rem;
    color: #0e0e0e;
    font-family: $fontFamily_1;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 0.125rem #abafab solid;
    background-color: #ffffff;
    padding: 2% 8%;
    margin-top: 3%;
  }
}
