@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}


html{
  font-size: 16px;
}
body{
  margin: 0;
}


@import "header";
@import "share";
@import "who_books";
@import "promotion_and_registration_form";
@import "how_it_works";
@import "where_to_find_the_program";
@import "registration_form";
@import "footer";